# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# MacOS
.DS_Store

# Large model files (optional)
# Uncomment if needed
# models/*.pt
# models/*.joblib

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

